@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-4">Click down Button to start Small Stock Project</h2>
    <a asp-action="Index" asp-controller="Store" class="btn btn-outline-primary"> Show All Stores</a>
</div>
